.box{
  width: 300px;
  margin: 10px;
  /* border: 1px solid lightslategray; */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 8px gray ;
  background-color: antiquewhite;
}
.food-picture{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.flex-box{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.price{
  color: red;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin-top: 1px;
}
button{
  background-color:rgb(235, 64, 64) ;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 15px;
}
button:hover{
  background-color:rgb(167, 86, 86) ;
  box-shadow: 0px 0px 3px pink;
}
.tag{
  background-color: rgb(233, 134, 4);
  padding: 3px 10px;
  color: white;
  border-radius: 7px;
  display: inline-block;
  font-size: 13px;
}
.d-none{
  display: none;
}
.flex-box2{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 2px;
}
.position{
  position: relative;
}
.ratings{
  background-color: rgb(255, 247, 247);
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin: 5px;
  position: absolute;
  left: 3px;
  bottom: 3px;
  font-size: 12px;
  font-weight: bold;
}
.desc{
  margin-top: 1px;
}
.free{
  color: gray;
  font-size: 11px;
  
}