.moved{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-color: teal;

    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes move{
    0%{
        background-color: teal;
        transform: rotate(360deg);
    }
    30%{
        background-color: rgb(20, 49, 49);
        
    }
    70%{
        background-color: rgb(70, 155, 155);
        /* margin-top: 230px; */
    }
    80%{
        background-color: blueviolet;
        /* transform: (360deg); */
    }
    100%{
        background-color: teal;
        margin-left: 500px;
    }
}

